/* Fonts */

@font-face {
    font-family: times;
    src: url('_TimesNewerRoman-Regular.otf');
}

@font-face {
    font-family: timesi;
    src: url('_TimesNewerRoman-Italic.otf');
}

/* Basic */

.card {
    font: 16px times, syht;
    color: #555555;
    background-size: 100%;
}

.card.nightMode {
    font: 16px times, syht;
    color: #f0f0f0;
    background-size: 100%;
}

.cloze {
    color: #ec6c4f;
    font-weight: bold;
    padding-bottom: 0px;
    text-decoration: underline;
}

.h1 {
    font: 20px times, syht;
    text-align: left;
    padding: 0.3em 0em 0em 0.3em;
    user-select: none;
}
.h2 {
    font: 22px times, syht;
    text-align: left;
    padding: 0.3em 0em 0em 0.3em;
    line-height: 1.5;
}

.xleft {
    border-left: 3px solid #ec6c4f;
}
.yleft {
    border-left: 3px solid #338eca;
}
.zleft {
    border-left: 3px solid #4c991b;
}

.xcolor {
    color: #ec6c4f;
}
.ycolor {
    color: #338eca;
}
.zcolor {
    color: #4c991b;
}

.ximg {
    background: url(_x.svg);
}
.yimg {
    background: url(_y.svg);
}
.zimg {
    background: url(_z.svg);
}
.ximg, .yimg, .zimg {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.border1, .border2, .border3, .border4 {
    padding: 0.8em 0em 0.6em 0.8em;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
}
.border1 {
    background: #f2ebe0;
}
.border2 {
    background: #d9f2eb;
}
.border3 {
    background: #f0e6f6;
}
.border4 {
    background: #dbf0ff;
}
.nightMode .border1 {
    background: #393733;
}
.nightMode .border2 {
    background: #314a43;
}
.nightMode .border3 {
    background: #3e3841;
}
.nightMode .border4 {
    background: #495c69;
}

/* Classes */

.section {
    background: repeating-linear-gradient(135deg, #4b5362 0px, transparent 5px);
    height: 6px;
    width: 99%;
}

.transparent_deck {
    text-align: center;
    opacity: 20%;
    user-select: none;
}

.reason {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #dbedff;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 10px;
    margin-right: 0.2em;
    text-align: left;
    height: 20px;
    border-radius: 5px;
    text-overflow: ellipsis;
    user-select: none;
}

.nightMode .reason {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #425c74;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 10px;
    margin-right: 0.2em;
    text-align: left;
    height: 20px;
    border-radius: 5px;
    text-overflow: ellipsis;
    user-select: none;
}

/* Tags */

u {
    text-decoration: none;
    color: rgb(104, 118, 78);
    background: linear-gradient(rgb(233, 255, 205), rgb(233, 255, 205)) 0 75% / 100% 12px no-repeat;
}

.nightMode u {
    text-decoration: none;
    color: rgb(218, 247, 166);
    background: linear-gradient(rgb(74, 114, 92), rgb(74, 114, 92)) 0 75% / 100% 12px no-repeat;
}

mark {
    text-decoration: none;
    color: rgb(204, 147, 0);
    background: linear-gradient(rgb(255, 208, 200), rgb(255, 208, 200)) 0 75% / 100% 12px no-repeat;
}

.nightMode mark {
    text-decoration: none;
    color: rgb(255, 185, 0);
    background: linear-gradient(rgb(149, 2, 47), rgb(149, 2, 47)) 0 75% / 100% 12px no-repeat;
}

b {
    color: #ef475d;
    font-weight: bold;
}

hr {
    background-color: #a5adbc;
    margin: -2px -2px 0px -3px;
    width: 100%;
    height: 3px;
    border: 0 none;
    display: block;
}

.nightMode hr {
    background-color: #4b5362;
    margin: -2px -2px 0px -3px;
    width: 100%;
    height: 3px;
    border: 0 none;
    display: block;
}

i, em {
    font-family: timesi;
    padding: 0 3px 0 0;
}

img, .chrome img {
    max-width: 98%;
    vertical-align: middle;
}

li {
    margin-left: -0.5em;
}
