#front, #back, #extra, #extra1, #extra2 {
    visibility: hidden;
    line-height: 1.5;
    margin-top: -0.8em;
    margin-bottom: -0.8em;
}

hr {
    margin: -2px 2px 0px 0px;
}

table {
    margin: 15px 0 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    word-break: normal;
    background-color: #e8eefa;
    width: 100%;
}

.nightMode table {
    margin: 15px 0 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    word-break: normal;
    background-color: #272b33;
    width: 100%;
}

table th {
    font-weight: bold;
}

table td,
table th {
    padding: 6px 13px;
    border: 1px solid #c8d3eb;
}

.nightMode table td,
.nightMode table th {
    padding: 6px 13px;
    border: 1px solid #4b5261;
}

pre {
    border-radius: 5px;
}

code {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: .85em !important;
    color: #ffffff;
    background-color: #393f4a;
    padding: 0.2em;
    border-radius: 3px;
}

kbd {
    color: #ffffff;
    padding: 2px 4px;
    background-color: #393f4a;
    border: 1px solid #4b5261;
    border-bottom: 2px solid #3e4450;
    border-radius: 3px;
}

pre>code {
    padding: 0;
    /* margin: 0; */
    font-size: .85em !important;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    overflow: auto;
    font-size: 1em !important;
    line-height: 1;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    padding: 1em;
    /* margin: 0em 0; */
    margin-right: 0.5em;
    overflow: auto;
    tab-size: 4;
    hyphens: none;
    color: #F8F8F2;
    background-color: #323232 !important;
    border: #4b5261;
    border-radius: 3px direction: ltr;
}

blockquote {
    margin: 16px 0;
    font-size: inherit;
    padding: 0 15px;
    color: #475574;
    background-color: #e1eaff;
    border-left: 4px solid #c8d3eb
}

.nightMode blockquote {
    margin: 16px 0;
    font-size: inherit;
    padding: 0 15px;
    color: #7c869c;
    background-color: #393f4a;
    border-left: 4px solid #4b5261
}

blockquote>:first-child {
    margin-top: 0
}

blockquote>:last-child {
    margin-bottom: 0
}
