{{#标签}}
<div>
    <img src="_anki.png" height="32" align="left" />
    <img src="_space.png" width="10" align="left" />
</div>

<div class="reason">
    {{标签}}
</div>

<br />
{{/标签}}

<div class="border3">
    <div class="h1 xcolor xleft">
        <span class="ximg"> <img src="_space.png" height="24" width="36" /> </span>
            资料
    </div>

    <div class="h2 xleft"> {{资料}} </div>
</div>

{{#笔记}}
<br />

<div class="border1">
    <div class="h1 ycolor yleft">
        <span class="yimg"> <img src="_space.png" height="24" width="36" /> </span>
        笔记
    </div>

    <div class="h2 yleft"> {{笔记}} </div>
</div>
{{/笔记}}

{{#相关知识}}
<br />

<div class="border2">
    <div class="h1 zcolor zleft">
    <span class="zimg"> <img src="_space.png" height="24" width="36" /> </span>
        相关知识
    </div>

    <div class="h2 zleft"> {{相关知识}} </div>
</div>
{{/相关知识}}

<div class="transparent_deck"> {{Deck}} </div>

<script src="_MathJax.js"></script>
